/* Ad Intelligence */
.gbd-default-template.gbd-ad-intel-template {
margin-top: 0;
margin-bottom: 0px !important;
}
.gbd-ad-intelligence-top-section {
background: #282828;
position: relative;
}
.gbd-ad-banner-left-content {
padding: 55px 0 0;
}
.gbd-ad-banner-left-content h1 {
margin: 0;
text-align: left;
color: #fff;
font-size: 34px;
line-height: 48px;
font-weight: 600;
}
.gbd-ad-banner-left-content p {
color: #fff;
margin: 30px 0 40px;
font-size: 18px;
line-height: 24px;
}
.gbd-ad-intelligence-2block .aligncenter {
margin-bottom: 0;
}
.gbd-ad-banner-right-content img {
width: auto;
margin-bottom: 0px;
}
.gbd-ad-banner-right-content {
text-align: center;
}
.gbd-ad-intelligence-fullwidth {
text-align: center;
padding: 50px 0;
background: #0c528a url(../../images/unprecedented-bg.png) no-repeat;
background-size: auto;
background-size: auto;
color: #fff;
background-size: cover;
}
.gbd-ad-intelligence-fullwidth h2 {
margin: 0 0 35px;
font-size: 34px;
font-weight: 600;
line-height: 42px;
color: #fff;
}
.gbd-ad-intelligence-fullwidth p {
color: #fff;
display: block;
width: 65%;
margin: 0 auto;
padding-bottom: 30px;
}
.gbd-ad-intelligence-fullwidth .btn {
padding: 15px 40px;
font-weight: 500;
color: #000;
border-radius: 0;
border: none;
}
.gbd-ad-intelligence-fullwidth p a {
color: #fff;
text-decoration: underline;
}
.gbd-ad-intelligence-fullwidth p a:hover {
text-decoration: none;
}
.gbd-ad-intelligence-2block {
padding: 30px 0;
}
.gbd-high-fidelity-block.gbd-ad-intelligence-2block {
padding-bottom: 0;
}
.gbd-high-fidelity {
margin-top: 60px;
width: 100%;
}
.gbd-ad-intelligence-2block h2 {
color: #272727;
text-align: left;
font-weight: 700 !important;
margin-bottom: 10px;
}
.gbd-banner-left-content .btn,
.gbd-ad-banner-left-content .btn {
padding: 12px 30px;
color: #000;
}
/*.gbd-default-template .btn-default {
color: #fff;
background-color: #ffa41f;
border-radius: 0;
border: none;
}*/
.gbd-granular-data-block.gbd-ad-intelligence-2block {
background: #f9f9f9 url(../../images/granular-bg.png) no-repeat;
background-position: left bottom;
}
.gbd-ad-intelligence-wrapper p {
font: normal 16px Ubuntu,sans-serif;
line-height: 24px;
}
.gbd-granular-data {
width: 80%;
margin-top: 120px;
}
.gbd-flexible-access {
width: 82%;
margin-top: 100px;
}
.gbd-ad-intelligence-bot-section {
background: #dfe1e5;
padding: 70px 0 0;
}
.gbd-ad-banner-right-text {
margin-top: 50px;
}
.gbd-ad-banner-right-text h2 {
text-align: left;
margin-bottom: 15px;
margin-top: 0;
font-weight: 600;
}
.gbd-ad-banner-right-text p {
font-size: 20px;
line-height: 28px;
width: 350px;
}
.gbd-we-do-work-section {
margin-bottom: 30px;
}
.gbd-we-do-work {
display: inline-block;
vertical-align: middle;
margin-right: 35px;
position: relative;
width: 130px;
height: 130px;
background: #0c528a;
border-radius: 100%;
text-align: center;
line-height: 130px;
}
.gbd-we-do-work img,
.gbd-ad-banner-left-img img {
width: auto;
}
.gbd-ad-banner-left-img {
text-align: center;
}
.gbd-we-do-hover {
position: absolute;
width: 400px;
border: 1px solid #efeded;
background: #fff;
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
-ms-box-shadow: 0 0 3px rgba(0,0,0,.2);
-o-box-shadow: 0 0 3px rgba(0,0,0,.2);
box-shadow: 0 0 3px rgba(0,0,0,.2);
font-size: 15px;
padding: 20px;
line-height: 21px;
text-align: left;
top: 90%;
z-index: 99;
visibility: hidden;
opacity: 0;
border-radius: 5px;
left: 50%;
margin-left: -200px;
}
.gbd-we-do-work.gbd-we-do-work2 {
background: #f2a11d;
}
.gbd-we-do-work.gbd-we-do-work3 {
background: #e73c2d;
}
.gbd-we-do-work:hover .gbd-we-do-hover {
visibility: visible;
opacity: 1;
}
.gbd-we-do-hover:before {
content: " ";
height: 11px;
width: 18px;
background: url(../../images/arrow-top.png) no-repeat;
position: absolute;
top: -11px;
left: 50%;
margin-left: -9px;
z-index: 99;
}
#ad-intelligence-insights .modal-content {
border-radius: 0;
padding: 20px;
}
#ad-intelligence-insights .modal-content .form-header h3 {
font-size: 22px;
color: #fff;
margin-bottom: 10px;
text-align: center;
}
#ad-intelligence-insights .hbspt-form {
position: relative;
padding-bottom: 110px;
}
#ad-intelligence-insights .hbspt-form .hs-form-field .hs-input {
color: #666 !important;
}
#ad-intelligence-insights .modal-dialog {
position: relative;
margin: 0;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
#ad-intelligence-insights .hbspt-form .hs-submit input.hs-button.primary.large {
width: 200px !important;
text-transform: capitalize;
height: 50px;
line-height: 50px;
margin: 0 auto !important;
display: block;
padding: 0;
}
#ad-intelligence-insights .hs-form-field {
margin-bottom: 15px;
text-align: left;
}
#ad-intelligence-insights .hbspt-form .hs-richtext.hs-main-font-element {
font-size: 15px;
line-height: 20px;
position: absolute;
bottom: 0;
}
#ad-intelligence-insights .hbspt-form .hs-richtext.hs-main-font-element p {
line-height: 24px !important;
margin-bottom: 0px;
}

/*
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
float: left;
}*/
@media (max-width:1200px) and (min-width:1026px) {
.gbd-ad-banner-left-content {
padding:45px 0 0
}
.gbd-ad-banner-left-content h1 {
font-size:30px;
line-height:45px
}
.gbd-ad-banner-left-content p {
margin:20px 0 25px;
font-size:18px;
line-height:24px
}
.gbd-ad-agency-form {
width:auto;
padding:35px
}
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-ad-intelligence-wrapper p {
font: normal 14px Ubuntu,sans-serif;
line-height: normal;
line-height: 20px;
}
.gbd-ad-intelligence-2block h2 {
font-size: 26px !important;
}
.gbd-ad-intelligence-2block .btn, 
.gbd-ad-intelligence-fullwidth .btn, 
.gbd-banner-left-content .btn,
.gbd-ad-banner-left-content .btn {
font-size: 16px;
}
}
@media (max-width:1025px) and (min-width:803px) {
.gbd-ad-banner-left-content h1 {
font-size:24px;
line-height:38px
}
.gbd-ad-banner-left-content p {
margin:15px 0 25px;
font-size:16px;
line-height:24px
}
.gbd-ad-banner-left-content .btn {
padding:12px 40px;
font-size:15px
}
.gbd-ad-banner-left-content {
padding:62px 0
}
.gbd-ad-agency-form {
width:auto;
padding:35px;
float:none
}
.gbd-ad-agency-banner-lt h1 br,
.gbd-ad-agency-bot-lt h2 br,
.gbd-ad-banner-left-content h1 br,
.gbd-ad-banner-left-content p br,
.gbd-ad-intelligence-fullwidth h2 br,
.gbd-ad-intelligence-fullwidth p br {
display:none
}
.gbd-we-do-hover {
width:200px;
margin-left:-100px
}
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-high-fidelity-block.gbd-ad-intelligence-2block {
padding-bottom: 20px;
}
.gbd-ad-intelligence-2block .btn {
font-size: 18px;
}
}
@media (max-width:990px) and (min-width:768px) {
.gbd-we-do-work {
width:100px;
height:100px;
line-height:100px
}
.gbd-ad-intelligence-bot-section {
padding:50px 0 60px
}
.gbd-granular-data {
width:100%;
margin-top:95px
}
.gbd-flexible-access {
width:100%;
margin-top:30px
}
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-high-fidelity-block.gbd-ad-intelligence-2block {
padding-bottom:30px
}
.gbd-ad-banner-left-content .btn {
padding: 15px 50px;
}
.gbd-ad-intelligence-2block .btn {
padding: 15px 15px;
}
.gbd-ad-intelligence-2block h2 {
font-size: 30px;
}
}
@media (max-width:802px) and (min-width:768px) {
.gbd-flexible-access,
.gbd-granular-data,
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-ad-intelligence-2block h2 {
margin-top:0
}
.gbd-ad-agency-bot-lt {
padding-top:20px
}
.gbd-ad-agency-bot-lt h2 {
font-size:26px
}
.gbd-ad-agency-bot-lt p {
font-size:16px;
line-height:24px
}
.gbd-ad-agency-banner-lt h1 br,
.gbd-ad-agency-bot-lt h2 br,
.gbd-ad-banner-left-content h1 br,
.gbd-ad-banner-left-content p br,
.gbd-ad-intelligence-fullwidth h2 br,
.gbd-ad-intelligence-fullwidth p br {
display:none
}
.gbd-ad-banner-left-content {
padding:35px 0
}
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-high-fidelity-block.gbd-ad-intelligence-2block {
padding-bottom:30px
}
.gbd-flexible-access, .gbd-granular-data, .gbd-high-fidelity {
margin-top: 0;
width: 100%;
}
.gbd-ad-banner-right-text .btn {
padding: 15px 30px;
}
}
@media (max-width:830px) and (min-width:768px) {
.gbd-ad-intelligence-bot-section {
padding:50px 0 60px
}
.gbd-we-do-work {
margin-right:20px
}
.gbd-we-do-hover {
width:200px;
margin-left:-100px
}
.gbd-ad-agency-form {
width:auto;
padding:35px;
float:none
}
.gbd-ad-intelligence-2block h2 {
font-size:30px
}
.gbd-default-circle-wrap.fadeIn {
width:28%
}
.gbd-default-circle-wrap .gbd-default-circle-text br {
display:none
}
}
@media (min-width:320px) and (max-width:767px) {
.gbd-flexible-access,
.gbd-granular-data,
.gbd-high-fidelity {
margin-top:0;
width:100%
}
.gbd-ad-intelligence-2block .btn {
padding:15px 30px;
margin-bottom: 0 !important;
font-size: 14px;
}
.gbd-ad-banner-left-content {
padding:30px 0
}
.gbd-ad-banner-left-content .btn {
padding: 15px 70px;
margin-bottom: 0 !important;
font-size: 14px;
}
.gbd-ad-banner-left-content h1 {
font-size:32px;
line-height:40px;
font-weight:600
}
.gbd-ad-agency-banner-lt h1 br,
.gbd-ad-agency-bot-lt h2 br,
.gbd-ad-banner-left-content h1 br,
.gbd-ad-banner-left-content p br,
.gbd-ad-banner-right-text h2 br,
.gbd-ad-banner-right-text p br,
.gbd-ad-intelligence-2block h2 br,
.gbd-ad-intelligence-fullwidth h2 br,
.gbd-ad-intelligence-fullwidth p br {
display:none
}
.gbd-ad-intelligence-fullwidth h2 {
font-size:28px;
line-height:38px
}
.gbd-ad-intelligence-fullwidth p {
width:100%
}
.gbd-flexible-access {
margin-bottom:30px
}
.gbd-granular-data {
margin-top:30px
}
.gbd-we-do-work {
margin-right:5px
}
.gbd-ad-banner-left-img {
text-align:center
}
.gbd-ad-intelligence-bot-section {
padding:40px 0
}
.gbd-ad-intelligence-fullwidth .btn {
padding: 15px 15px;
margin-bottom: 0 !important;
font-size: 14px;
}
.gbd-high-fidelity {
margin: 30px 0;
width: 100%;
}
#ad-intelligence-insights .modal-content {
height: 300px;
overflow-y: scroll;
overflow-x: hidden;
}
}
@media (min-width:320px) and (max-width:480px) {
.gbd-we-do-work {
margin-right:5px;
width:75px;
height:75px;
line-height:75px
}
.gbd-we-do-work span img {
width:40px
}
.gbd-ad-banner-right-text {
margin-top:35px
}
.gbd-we-do-hover {
width:120px;
margin-left:-60px;
padding:10px
}
.gbd-ad-banner-right-text p {
font-size:18px;
line-height:24px;
width:100%
}
#ad-intelligence-insights .hbspt-form {
padding-bottom:120px
}
#ad-intelligence-insights .hbspt-form .hs-richtext.hs-main-font-element p {
line-height: 18px !important;
margin-bottom: 0;
}
.gbd-ad-banner-right-text .btn {
padding: 15px 20px;
margin-bottom: 0 !important;
font-size: 14px;
}
}
/* End Ad Intelligence */