$brand-color: #252527;
$color_white: #fff;
$color_orange: #ffa41f;
$brand-second_color: #4a969e;
div#page {
    padding-top: 101px;
}


.gbd-talk-to-expert-top-section {
    background: $brand-second_color;
    margin-top: 0;
    padding:70px 0 70px 0;
    margin-bottom:0
}
.gbd-img-wrapper{
  width:97%;
}

.gbd-talk-to-expert-top-section .gbd-talk-to-expert-rt-content{
background:#12818c!important;
padding:40px!important;
margin-top:5px;
}
#gbd-talk-to-expert-hb-form{
  width:100%!important;
}

.actions {
    margin-top: 30px;
}

.site-branding {
    text-align: center;
}
.landing-page-footer{
  background:$brand-color;
}

.entry-content-page p{color:#fff;}
.hs_please_contact_me_about_complimentary_product_detail_page_benchmark_analysis.hs-please_contact_me_about_complimentary_product_detail_page_benchmark_analysis.hs-fieldtype-booleancheckbox.field.hs-form-field {
    display: none;
}
.background-light{
  background:#e5e5e5;

}
ul.wesupport-block li{
  margin-right:7%;
  margin-bottom:5%;
}
ul.wesupport-block li.ebay, ul.wesupport-block li.alibaba {
  width:19%;
}
ul.wesupport-block li.walmart{
  width:23%;
}

ul.wesupport-block li.instacart{
  width:15%;
}

ul.wesupport-block  li.target, ul.wesupport-block  li.amazon, ul.wesupport-block  li.google, ul.wesupport-block  li.google-shopping, ul.wesupport-block  li.bing {
    width: 10%;
    margin-bottom:0;
}
.word-cloud {
  text-align:right;
}
.word-cloud img{
  width:90%;
}

ul.wesupport-block li img {vertical-align: text-bottom;}

input.hs-button.primary.large {
    margin: 0 auto!important;
    text-align: center;
}

.gbd-talk-to-expert-form .hs-form-field{
  margin-bottom:20px;
}

@media (min-width: 320px) and (max-width: 767px) { 

ul.wesupport-block li{
  width:37%!important;
}
ul.wesupport-block  li.target, ul.wesupport-block  li.amazon, ul.wesupport-block  li.google, ul.wesupport-block  li.google-shopping, ul.wesupport-block  li.bing {
    width: 19%!important;
}
.word-cloud img{
  width: 100%!important;
  margin-top:30px;
}


ul.logo-list{
    margin-top: 30px!important;
}

.gbd-talk-to-expert-rt-content {
    margin-top: 40px;
}
}


@media (min-width: 768px) and (max-width: 980px) { 
.gbd-talk-to-expert-form .hbspt-form .hs-submit input.hs-button.primary.large{
  margin:0 auto;
  padding:15px 22px;
}
}