$brand-color: #252527;
$color_white: #fff;
$color_orange: #ffa21f;
$brand-second_color: #4a98a0;
$color-blue:#4a959d;


html {
scroll-behavior: smooth;
}
body {
color: #252527 !important;
font: normal 16px "Ubuntu", sans-serif !important;
}

ul {
margin: 0;
padding: 0;
li {
list-style: none;
margin: 0;
padding: 0;
}
}

.post,
.page {
margin: 0;
}

img {
image-rendering: -webkit-optimize-contrast;
}

.Center {

display: flex;
align-items: center;
justify-content: center;
}

img {
vertical-align: middle;
border-style: none;
width: auto;
height: auto;
}
.orange_btn {
background: $color_orange;
font-weight: 500;
color: $brand-color;
border: 1px solid $color_orange;
border-radius: 0;
font-size: 1.2rem;
font-family: "Ubuntu", sans-serif;
&:hover {
color: $color_white!important;
background:$brand_color;
border:1px solid $brand_color;
}
}

p {
font-size: 1.2rem;
font-family: "Ubuntu", sans-serif;
color: #252527;
line-height:2rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
background: $color_orange;
font-weight: normal;
color: $brand-color;
border: 1px solid $color_orange;
border-radius: 0;
font-size: 1.3rem;
font-family: "Ubuntu", sans-serif;
&:hover {
color: $color_white;
}
&:focus{
outline:none;
}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
color: #a7a7a9;
border: none;
border-radius: 0;
padding: 3px;
background: #f2f3f4;
padding: 0.6em 1em 0.4em;
border: 1px solid #eaeaea;
vertical-align: top;
line-height: 25px;
outline:none;
font-family: "Ubuntu", sans-serif;

}
a:visited {
color: #000;
}
@media (min-width: 1400px) {
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
max-width: 1220px;
}
}

@media (min-width: 1600px) {
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
max-width: 1320px;
}
}
a, {
color: $color-blue;
outline:none;
&:active{   
outline:none;

}
&:focus{
outline:none;


}

}

.entry-content-page a, .gbd-blog-article a{
color: #0c528a;

}

.page-template-template-inner-pages-simple .entry-content-page a {
text-decoration: underline !important;
color: #4a969e !important;
}

h1{
font-size:3rem;
color:#333;
font-weight:600;
margin-top:0;

}
header.entry-header {

h1{
text-align: center;
margin-top:0;
}
}

h2{
margin-bottom:0;
}

a.btn{
outline:none;

&:foucs{
outline:none;
border:none;
box-shadow:none;
}
}

.btn-primary.focus, .btn-primary:focus{

outline:none;
border:none;
box-shadow:none;


}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px dashed;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}
section{

h2{
font-size:2.5em;
}
}

div#page {
padding-top: 106px;
}

.pb-150{
padding-bottom:80px;
}

.pt-150{
padding-top:80px;
}
.mb-150{
margin-bottom:80px !important;
}


img[src*=".svg"] {
width: 100%; 
}

svg:not(:root){overflow:hidden;width:100%}

/*
@media (min-width: 1500px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 1600px;
}

}
*/
/*Header CSS*/

@media (min-width: 1200px){
.navbar-expand-md .navbar-nav .nav-link {
padding-right: 1rem;
padding-left: 1rem;
}
}

header#masthead {
background: $brand-color;
padding: 20px 0 20px;
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
}

.dropdown-menu{
margin-top: 0;
}

.dropdown-toggle::after{
display:none;
}
a.custom-logo-link {
line-height: 46px;
}
.main-navigation {
display: inline-block;
font-family: "Ubuntu", sans-serif;
margin-top: 8px;
}

.site-branding {
display: inline-block;
line-height:62px;
}


.collapsed span.fa-close{
display: block;
}

span.fa-bars {
display: block;
}

.navbar-dark .navbar-toggler-icon{
background:none;
line-height:30px;
}
.navbar-dark .navbar-toggler-icon{
background:none;
}

[aria-expanded="false"] span.navbar-toggler-icon.fa.fa-times {
display: none;
}

[aria-expanded="true"] span.navbar-toggler-icon.fa.fa-times{
display:block ;
}

[aria-expanded="false"] span.navbar-toggler-icon.fa-bars{
display:block ;
}
[aria-expanded="true"] span.navbar-toggler-icon.fa-bars{
display:none ;
}
nav {
font-family: "Ubuntu", sans-serif;
padding-top:10px!important;

ul {
margin: 0;
padding: 0;
list-style: none;
}

li {
display: inline-block;
}
.current_page_item {
a span{

color:$color_orange;
}

}
a {
color: $color_white;
display: block;
padding: 6px 12px;
text-decoration: none;
text-transform: uppercase;
font-family: "Ubuntu", sans-serif;
outline: none;
background:none;
font-size:1.2em;

span {
color: $color_white;
outline: none;
font-size:18px;;
font-family: "Ubuntu", sans-serif;


}

&:visited {
color: #000;
}
&:hover {
color: $color_orange;
span {
color: $color_orange;
}
}
&:active {
color: $color_white;
}
}

.dropdown {
.dropdown-menu {
overflow: hidden;
background: $brand_color;
border-radius: 0;
.dropdown-item {
padding: 6px 12px;
background:none;
}
li {
width:100%;
border-bottom:1px solid rgba(255,255,255,.1);
line-height:18px;
padding:10px 0;
&:last-child{
border-bottom:none;
a{
padding-bottom:0;
}
}
a {
font-size:14px;
&:hover {
background: none;
}
}
}
}
&:hover {
.dropdown-menu {
transform: scale(1);
}
}
}
}

.header-top-right-btn {
ul {
margin: 0;
padding: 0;
list-style: none;
float: right;
}

li {
display: inline-block;
margin-left: 12px;
}
a {
font-family: "Ubuntu", sans-serif;
color: $color_white;
display: block;
padding: 12px 12px;
text-decoration: none;
text-transform: uppercase;
}

.login_btn {
border: 1px solid $color_white;

&:hover {
color: $color_orange;
}
}

.contact_btn {
background: $color_orange;
font-weight: 500;
color: $brand-color;
border: 1px solid $color_orange;
&:hover {
color: $color_white;
background: $brand-second_color;
border: 1px solid $brand-second_color;
}
}
}

@media (min-width: 320px) and (max-width: 767px) {
header#masthead #bs-example-navbar-collapse-1 {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
}
header#masthead nav .dropdown .dropdown-menu {
transform: none;
position: absolute;
width: 100%;
background: #343434;
}
header#masthead nav .dropdown .dropdown-menu .dropdown-item {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
}
header#masthead .navbar-nav {
height: 210px;
overflow-y: scroll;
overflow-x: hidden;
}
header#masthead .navbar-nav .nav-item {
width: 100%;
margin: 0;
}
}
.logged-in #page {padding-top: 74px;}
/* END Header CSS*/

/*Footer CSS*/
.menu-footer-topics-container ul li {
    float: left;
    width: 25%;
    margin-right: 14px;
}

.gbd-popular-publication{
background:#606060;
text-align:center;
padding:50px;

h5{
color:#ffffff;
font-size:1.5rem;
font-weight:700;
}
}


footer {
background: $brand_color;
padding-top: 80px;

.topics{
	max-width:inherit!important;

}

.menu-col {
max-width: 19%;
display: inline-block;
vertical-align:top;

}
.menu-footer-solutions-container {
margin-bottom: 40px;
}
ul {
margin: 0;
padding: 0;
li {
list-style: none;
margin: 0;
padding:5px 0 5px 0;

a {
color: #929293;
font-size: 16px;
font-weight: normal;
&:hover {
color: $color_orange;
text-decoration: none;
}

&:visited {
color: #929293;

&:hover {
color: $color_orange;
}
}
}
}
}

strong {
color: $color_white;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
display:block;
padding-bottom:10px;
}
}
.gbd-copyright-footer {
padding-top: 30px;
padding-bottom:20px;
overflow:hidden;

p {
color: $color_white;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
}

.menu-footer-solutions-container {
padding-bottom: 30px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.menu-company-menu-container, .menu-connect-menu-container, .menu-footer-solutions-container, .menu-resources-menu-container, .menu-services-menu-container {
margin-bottom: 5px;
}
}
/* END Footer CSS*/

.gbd-footer-top {
text-align: center;
}

.small-text {
font-size: 14px;
color: #000000;

a {
color: $color_orange;
text-decoration: underline;
}
}

ul.logo-list {
list-style-type: none;
}
ul.logo-list li {
font-size: 16px;
width: 16%;
display: inline-block;
margin-right: 4%;

}

.gbd-popular-publication  ul.logo-list{
margin-bottom:0;
li{
width:20%;
margin:0 auto;
padding-left:5%;

&:first-child{
padding-left:0;
}

}
.retail-times{
width:10%;
}

}

.form-wrapper {
margin: 20px 0 0px 0;
}

div#schedule-free-consultation {
position: relative;
}
.Subscription-block {
input[type="text"] {
width: 25%;
height: 70px;
font-weight:normal;
}

.hbspt-form label{
display:none;
}
input[type="button"] {
height: 70px;
border: 1px solid $color_orange;
margin-left: -5px;
font-size: 22px;
font-weight: 500;
}
}

h3.trusted-partners {
font-size: 20px;
margin: 10px 0 10px 0;
}


.trusted-partners-wrapper{
background:#f8f8f9;
}

.twitter a:before{
content: "\f099";
font-family: "Font Awesome 5 Brands";
font-style: normal;
font-weight: 600;
padding-right:10px;
}

.facebook a:before{
content: "\f39e";
font-family: "Font Awesome 5 Brands";
font-style: normal;
font-weight: 600;
padding-right:17px;


}
.youtube a:before{
content: "\f167";
font-family: "Font Awesome 5 Brands";
font-style: normal;
font-weight: 600;
padding-right:10px;
}

.instagram a:before{
content: "\f16d";
font-family: "Font Awesome 5 Brands";
font-style: normal;
font-weight: 600;
padding-right:13px;



}


.linkedin a:before{
content: "\f0e1";
font-family: "Font Awesome 5 Brands";
font-style: normal;
font-weight: 600;
padding-right:13px;

}

/*modal and form element design*/
.modal{
z-index:9999;
}

.modal-content{
background:$brand_color;

.modal-title{
color:$color_white;
}

.modal-header{
border-bottom:1px solid #000;

}
.close{
color:$color_white;
text-shadow:none;
}

input, select{
width:100%!important;
}
p{
color:$color_white;
}

a{
&:hover{
color:$color_white;
}
}

}


label{
color:$color_white;
}



input, select{
background: #d5d7db;
padding: .6em 1em .6em 1em;
border: 1px solid #d5d7db;
}

input.hs-button{
background:$color_orange;
font-weight:500;
margin-top:20px;
border:none;
padding:20px;
}

.hs-error-msg{
color:Red;
font-size:13px;
margin-bottom:0px;
margin-top:5px;
}

.hs_recaptcha.hs-recaptcha.field.hs-form-field {
display: none;
}

.hs_error_rollup {
margin-top: 20px;
}


.Subscription-block{

input{
line-height:40px;
padding:0.6em 1em 0.4em;
height:70px;
margin-top:0;
width: 100%;
}
.hs-error-msg {
display: none!important;
}

.hs-error-msgs li label{
color:Red;
font-size:13px;
display:block;
}
.hbspt-form .hs_email {
width: 480px;
font-weight:normal;
}

.hbspt-form {
width: 515px;;
margin: 0 auto;
position: relative;
}

.hbspt-form .hs_submit {
position: absolute;
right: 0;
top: 0px;;
}
}

.grecaptcha-badge, .hs_recaptcha {
display: none;
}

.entry-content-page h1{
text-align:center;
margin-bottom: 10px;
font-size: 32px;
font-weight: 500;
}

.entry-content-page h3 {
color: #272727;
line-height: 28px;
margin-top: 12px;
margin-bottom: 0;
font-size: 20px;
}


/* Blog CSS common css */

.gbd-featured-blog-block article{
float:left;
margin-bottom:30px;
}

h4.entry-title a{
color:$brand_color;
text-decoration:none;

&:hover{
color:$color_orange;
}
}



.gbd-pagination a.page-numbers:hover, .gbd-pagination span.current, .gbd-pagination span.page-numbers:hover {
background: $color_orange;
color: $brand_color;
}


.gbd-pagination a.page-numbers, .gbd-pagination span.page-numbers {
border: none;
padding: 12px 22px;
border-radius: 5px;
margin-left: 0;
color:$brand_color;
font-weight:bold;
text-decoration:none;
display:inline-block;
margin-bottom:20px;

}



/* Blank templage CSS*/
.page-template-template-inner-pages-simple .entry-content-page ul{margin:0 0 20px 40px;}
.page-template-template-inner-pages-simple .entry-content-page ul li{list-style: disc; padding:5px; font-size: 1.2rem;}

/* ENDS Blank templage CSS*/




/* Press Page CSS*/

.entry-meta.post-date {
font-size: 13px;
color: #979797;
width: auto!important;
text-align: center;
margin: 0;
}

.gbd-Press-content  {
background: #FFF;
-webkit-box-shadow: 0 0 20px 4px rgba(0,0,0,.05);
box-shadow: 0 0 20px 4px rgba(0,0,0,.05);
-webkit-transition: transform .2s linear,box-shadow .2s linear;
-moz-transition: transform .2s linear,box-shadow .2s linear;
-ms-transition: transform .2s linear,box-shadow .2s linear;
-o-transition: transform .2s linear,box-shadow .2s linear;
transition: transform .2s linear,box-shadow .2s linear;
padding: 17px;
margin-bottom: 25px;
text-align:Center;
min-height:200px;
}



.gbd-Press-content:hover {
-webkit-transform: translateY(-7px);
-moz-transform: translateY(-7px);
-ms-transform: translateY(-7px);
-o-transform: translateY(-7px);
transform: translateY(-7px);
-webkit-box-shadow: 0 10px 30px 7px rgba(0,0,0,.1);
box-shadow: 0 10px 30px 7px rgba(0,0,0,.1);
}

.imgwrap {
display: block;
}

.press_content-inner {
padding: 10px 20px 20px 10px;
}


.gbd-Press .entry-content-page{
padding-bottom:40px;
}
.gbd-Press-content_wrapper .entry-meta {
background: 0 0;
padding: 0;
vertical-align: middle;
text-transform: capitalize;
text-align: center;
}
.gbd-Press-content_wrapper {
margin: 0px 0 40px 0;
float:left;

}

.gbd-Press-content_wrapper h4, .gbd-Press-content_wrapper h4 a{
margin: 5px 0 0 0;
color: #2c2c2c;
font-size: 18px;
text-transform: capitalize;
text-align: center;
font-weight: 700;
text-decoration: none!important;
height: 70px;
}
.gbd-Press .sub-title {
text-align: center;
font-size: 22px;
font-weight: 400 !important;
line-height: normal;
}

.gbd-Press-content_wrapper h4 a:hover{
color: #0c528a;
}


@media (max-width: 980px) and (min-width: 320px){
.gbd-Press-content {
height: auto!important;
min-height: auto!important;
}
}


@media (min-width: 768px) and (max-width: 991px){
.gbd-Press-content_wrapper {
float: none!important;
width: 100%!important;
max-width: 100%!important;
}
}
/* ENDS Press Page CSS*/

/* FAQ Page */
.gbd-default-template.gbd-faq-template {
margin-top: 0;
}
.card {
border-top: none;
border-bottom: 1px solid #dfdfdf !important;
border-right: none;
border-left: none;
border-radius: 0px;
background: none;
}
.card-header button.btn.btn-link {
font-weight: 700;
color: #000;
font-size: 22px;
width: 100%;
text-align: left;
padding: 5px 0 !important;
white-space: normal;
vertical-align: middle;
border-radius: 0px;
border: none;
outline: none;
}
.card .card-header h2 {
line-height: normal;
font-size: 2rem;
}
.card-header button.btn.btn-link:hover { 
border-left : none;
border-right: none;
text-decoration: none;
outline: none;
}
.card button.btn.btn-link i.fa {
width: 24px;
height: 24px;
border-radius: 50%;
background: #ffa41f !important;
text-align: center;
font-size: 16px !important;
line-height: 24px !important;
padding: 0 !important;
color: #fff !important;
float: right;
vertical-align: text-bottom;
}
.card button.btn.btn-link i.fas {
text-align: center;
font-size: 20px !important;
padding: 0 !important;
color: #2dccd6 !important;
float: right;
vertical-align: text-bottom;
}
.card button.btn.btn-link i.fas.fa-arrow-circle-up {
color: #ffa41f !important;
}
.gbd-accordin .card-body {
padding: 15px 0 !important;
outline: none;
}
.card-header button.btn.btn-link:focus, 
.card-header button.btn.btn-link:hover {
text-decoration: none;
border: none;
outline: none;
box-shadow: none;
}
.card-body p {
margin: 10px 0 10px 0;
font-size: 22px;
line-height: 32px;
}
.gbd-accordin .card-header {
padding: 0 !important;
margin-bottom: 0;
border: none !important;
background: none;
outline: none;
}
.gbd-accordin .card-body li {
text-indent: -.88em;
margin-left: .88em;
position: relative;
padding-bottom: 10px;
font-size: 22px;
line-height: normal;
}
.gbd-accordin .card-body li:before {
content: "•";
color: #ffa21f;
vertical-align: text-bottom;
margin-right: .25em;
font-size: 19px;
}
.gbd-accordin .card-body table {
font-size: 22px;
}
.gbd-accordin .card-body a {
color: #ffa41f;
}
.gbd-faq-accordin #accordion > div {
margin-bottom: 35px;
}
.gbd-faq .entry-header {
background: #e7e7e7;
padding: 50px 0;
margin-bottom: 40px;
}
.gbd-faq .entry-header h1 {
text-align: left;
margin-bottom: 0px;
}
.gbd-accordin .accordion > div > h2 {
margin-bottom: 15px;
}
.faq-table th {
border: 1px solid #dfdfdf;
padding: 10px;
background: #000000;
color: #fff;
}
.faq-table td {
border: 1px solid #dfdfdf;
padding: 10px;
}
@media (max-width:767px) and (min-width:320px) {

.gbd-inner-page-wrapper {
width: 100%;
margin: 0 auto;
}
}
/* End FAQ Page */

/* About Growbydata */
.gbd-default-template.gbd-about-gbd {
margin-top: 0;
margin-bottom: 0px;
}
.gbd-about-gbd .entry-header {
margin-top: 45px;
}
.gbd-about-gbd .trusted-partners-wrapper {
background: transparent;
}
.about-banner {
background: #98975b url(../../images/about-banner.jpg) no-repeat !important;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
background-position: calc(100%) calc(100%) !important;
background-size: cover !important;
}
.about-banner .banner-rightimg {
padding-bottom: 30px;
padding-top: 30px;
}
.background-light {
background: #eaeaea;
padding: 50px 0 50px 0;
}
.bgwhite {
background: #fff;
padding: 50px 0 50px 0;
}
.abt-our-solution .gbd-home-insights {
text-align: center;
}
.abt-our-solution .gbd-home-insights li {
float: left;
width: 47%;
margin-left: 6% !important;
margin-bottom: 25px;
border-radius: 0 0px 5px 5px;
border: 2px solid #dfdfdf;
border-top: 10px solid #dfdfdf;
cursor: pointer;
padding: 2%;
-webkit-transition: 0.3s ease-out 0.1s;
-moz-transition: 0.3s ease-out 0.1s;
-o-transition: 0.3s ease-out 0.1s;
transition: 0.3s ease-out 0.1s;
}
.abt-our-solution .gbd-home-insights li:hover,
.abt-our-solution .gbd-home-insights li.active { 
border: 2px solid #dfdfdf;
border-top: 10px solid #4a98a0;
-webkit-transition: 0.3s ease-out 0.1s;
-moz-transition: 0.3s ease-out 0.1s;
-o-transition: 0.3s ease-out 0.1s;
transition: 0.3s ease-out 0.1s;
}
.abt-our-solution .gbd-home-insights li:first-child,
.abt-our-solution .gbd-home-insights li:nth-child(3n) {
margin-left: 0 !important;
}
.abt-our-solution .gbd-home-insights h3 {
color: #000;
font-size: 18px;
line-height: 20px;
font-weight: 600;
margin: 15px 0 10px;
}
.abt-our-solution .gbd-home-insights p {
color: #000;
margin-top: 0px;
margin-bottom: 10px;
font-size: 16px;
line-height: 22px;
height: 50px;
}
.abt-our-solution .gbd-home-insights .learn-more {
color: #f2a11d;
font-size: 16px;
text-decoration: none;
font-weight: 600;
-webkit-transition: 0.3s ease-out 0.1s;
-moz-transition: 0.3s ease-out 0.1s;
-o-transition: 0.3s ease-out 0.1s;
transition: 0.3s ease-out 0.1s;
}
.abt-our-solution .gbd-home-insights .learn-more:hover {
color: #000;
-webkit-transition: 0.3s ease-out 0.1s;
-moz-transition: 0.3s ease-out 0.1s;
-o-transition: 0.3s ease-out 0.1s;
transition: 0.3s ease-out 0.1s;
}
.abt-our-solution .gbd-home-insights .icons {
width: 75px;
display: block;
margin: 0 auto;
}
.abt-our-solution .gbd-home-insights .nav-pills > li.active > a, 
.abt-our-solution .gbd-home-insights .nav-pills > li.active > a:hover, 
.abt-our-solution .gbd-home-insights .nav-pills > li.active > a:focus {
color: #fff;
background: none;
}
.abt-enriched {
margin-bottom: 70px;
}
.abt-enriched .list-top a {
color: #4a969e;
text-decoration: underline;
}
.abt-enriched img {
position: absolute;
left: 50%;
margin-left: -268px;
}
.about-banner p {
font-size: 26px;
line-height: 36px;
margin-bottom: 30px;
color: #fff;
}
@media (min-width: 768px) and (max-width: 1199px) {  
.abt-our-solution .gbd-home-insights p {
height: 66px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.abt-our-solution .gbd-home-insights li {
float: none;
width: 100%;
margin-left: 0 !important;
}
.abt-our-solution .gbd-home-insights p {
height: auto !important;
}
.abt-enriched img {
width: 300px;
background-size: 100%;
margin-left: -150px;
bottom: -95px;
}
.background-light, .bgwhite {
padding: 30px !important;
}
.background-light p {
font-size: 18px !important;
line-height:24px;
}
.right-text-list ul li {
font-size: 18px !important;
line-height:24px;

}
.bgwhite p {
font-size: 18px !important;
line-height: 24px !important;

}
.page-template-template-marketplace-intelligence .right-text-list ul .mb-5 {
margin-bottom: 0 !important;
}
.abt-enriched {
margin-bottom: 40px;
}
.about-banner h1 {
font-size: 36px;
text-align: center;
}
.about-banner p {
font-size: 16px;
text-align: center;
}
}
/* End About Growbydata */

/* Infographics Page */
.gbd-default-template.gbd-infographics-template {
margin-top: 0;
margin-bottom: 0px;
}
.gbd-infographics-wrapper {
padding: 45px 0;
}
.gbd-infographics-block {
background: #FFF;
-webkit-box-shadow: 0 0 20px 4px rgba(0,0,0,.05);
box-shadow: 0 0 20px 4px rgba(0,0,0,.05);
-webkit-transition: transform .2s linear,box-shadow .2s linear;
-moz-transition: transform .2s linear,box-shadow .2s linear;
-ms-transition: transform .2s linear,box-shadow .2s linear;
-o-transition: transform .2s linear,box-shadow .2s linear;
transition: transform .2s linear,box-shadow .2s linear;
padding: 17px;
margin-bottom: 25px;
}
.gbd-infographics-block:hover {
-webkit-transform: translateY(-7px);
-moz-transform: translateY(-7px);
-ms-transform: translateY(-7px);
-o-transform: translateY(-7px);
transform: translateY(-7px);
-webkit-box-shadow: 0 10px 30px 7px rgba(0,0,0,.1);
box-shadow: 0 10px 30px 7px rgba(0,0,0,.1);
}
.gbd-infographics-info a {
color: #272727;
font-size: 20px;
font-weight: 500;
margin-top: 20px;
text-align: center;
margin-bottom: 10px;
display: block;
}
.gbd-infographics-img {
height: 310px;
overflow: hidden;
border: 1px solid #dfdfdf;
}
.gbd-infographics h2 {
margin-bottom: 30px;
text-align:center;
}
.gbd-infographics-block:hover .gbd-infographics-info a { 
color: #ffa41f;
text-decoration: none;
}
.gbd-infographics-template .carousel-control-next, .carousel-control-prev {
background: #000;
width: 30px;
height: 50px;
top: 50%;
}
@media (min-width: 992px) and (max-width: 1200px) { 
.gbd-infographics-img {
height: 220px;
}
}
@media (min-width: 768px) and (max-width: 991px) { 
.gbd-infographics-img {
height: 140px;
}
.gbd-infographics-info a {
font-size: 16px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.gbd-infographics-info a {
font-size: 16px;
}
.gbd-infographics-img{
height: auto;
overflow: visible;
}
.toics-infographics{
	.gbd-infographics-img{
height: auto!important;
overflow: visible!important;
}
}
}
/* End Infographics Page */


.gbd-content, .gbd-Press {
padding-top: 50px;
}

.gbd-default-template {
margin: 40px 0;
}

.light-background{
background:#f8f8f8;
}

img[src*=".svg"] {
width: 100%; 
}

svg:not(:root){overflow:hidden;width:100%}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
img[src$=".svg"] {
width: 100%; 
}
.gbd-home-insights-svg svg{height:500px;}
}

/* Support CSS */
.support-banner {
background: #dd3f2b url(../../images/support-banner.jpg) no-repeat !important;
background-position: calc(100%) calc(100%) !important;
background-size: cover !important;
}
.gbd-support-mid-block {
margin: 50px 0;
padding: 0px;
}
.gbd-support-bot-block {
margin-bottom: 50px;
padding: 0px;
}
.gbd-support-mid {
.fas{
font-size: 24px;
}
border: 3px solid #ffa41f;
border-radius: 10px;
padding: 22px;
strong {
display: block;
margin: 20px 0;
font-size: 33px;
}
p{
margin-bottom: 0px;
font-size: 20px;
line-height: normal;
}
}
.gbd-support-mid.gbd-support-mid-green {
border-color: #4a959d;
margin-left: 15px;
.fas{
color: #4a959d;
}
}
.gbd-support-mid.gbd-support-mid-orange {
margin-right: 15px;
}
.gbd-support-mid.gbd-support-mid-orange .fas {
color: #ffa41f;
}
.banner-left-text {
padding-top: 50px;
padding-bottom: 50px;
}
.banner-rightimg {
display: flex;
}
.img-wrapper {
display: inline-block;
align-self: flex-end;
text-align: right;
width: 100%;
}
.gbd-support-template .support-banner .display-4 {
margin-bottom: 10px;
}
.gbd-support-template .support-banner .mb-20.text-white {
margin-bottom: 20px;
}
.gbd-support-bot-block strong {
font-size: 33px;
}
.gbd-support-bot .list-group {
width: 25%;
}
.gbd-support-bot-block strong {
font-size: 26px;
}
.gbd-support-bot .list-group .title {
display: block;
height: 120px;
background: #8c8c8c;
padding: 27px 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.gbd-support-bot .list-group.starter .title {
background: #606060;
padding: 44px 20px;
}
.gbd-support-bot .list-group.basic .title {
background: #4a959d;
padding: 44px 20px;
}
.gbd-support-bot .list-group.premium .title {
background: #e99c19;
padding: 44px 20px;
}
.gbd-support-bot .list-group .title h3 {
margin: 0;
}
.gbd-support-bot .list-group .list-unstyled li {
padding: 10px 20px;
background: #f1f1f1;
height: 40px;
font-weight: bold;
}
.gbd-support-bot .list-group.service-lvl .list-unstyled li {
font-weight: normal;
}
.gbd-support-bot .list-group .list-unstyled {
border-bottom: 7px solid #252527;
}
.gbd-support-bot .list-group.starter .list-unstyled {
border-color: #606060;
}
.gbd-support-bot .list-group.basic .list-unstyled {
border-color: #4a959d;
}
.gbd-support-bot .list-group.premium .list-unstyled {
border-color: #e99c19;
}
.gbd-support-bot .list-group .list-unstyled li.dark-grey {
background: #d8d8d8;
}
.gbd-support-bot .list-group .list-unstyled li.light-grey {
background: #e5e5e5;
}
.gbd-support-bot .list-group .fa-check-circle {
color: #6ad887;
}
.gbd-support-bot-block .orange_btn.custominsights-btn {
margin: 40px auto 0;
display: block;
width: 210px;
padding: 10px 20px !important;
}
.gbd-support-bot.gbd-support-bot-mob {
display: none;
}
@media (min-width: 1200px) and (max-width: 1400px) { 
.gbd-support-mid {
min-height: 290px;
}
}
@media (min-width: 768px) and (max-width: 1199px) { 
.banner-left-text {
padding-top: 20px;
padding-bottom: 20px;
}
.gbd-support-template .support-banner .display-4 {
font-size: 36px;
}
.gbd-support-template .support-banner .mb-20.text-white {
font-size: 16px;
}
.gbd-support-mid strong {
font-size: 30px;
}
.gbd-support-bot .list-group .list-unstyled li {
font-size: 13px;
}
}
@media (min-width: 993px) and (max-width: 1199px) {
.gbd-support-mid {
min-height: 310px;
}
}
@media (min-width: 768px) and (max-width: 992px) { 
.gbd-support-mid strong {
font-size: 22px;
margin: 15px 0;
}  
.gbd-support-mid p {
margin-bottom: 0;
font-size: 16px;
line-height: 24px;
}
.gbd-support-mid {
min-height: 274px;
} 
.gbd-support-bot.gbd-support-bot-dsk {
display: none;
}
.gbd-support-bot.gbd-support-bot-mob {
display: block;
}
.gbd-support-bot.gbd-support-bot-mob .content {
width: 50%;
}
.gbd-support-bot.gbd-support-bot-mob .list-group {
width: 500px;
margin: 0 auto 30px;
}
.gbd-support-bot .list-group .list-unstyled li {
padding: 5px 20px;
height: 30px;
}
.gbd-support-bot .list-group .title {
padding: 22px !important;
height: 80px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.gbd-support-template .support-banner .display-4 {
font-size: 36px;
text-align: center;
}
.gbd-support-template .support-banner p {
font-size: 16px;
text-align: center;
}
.gbd-support-mid.gbd-support-mid-orange {
margin-bottom: 30px;
padding: 20px;
}
.gbd-support-mid {
margin-left: 0 !important;
margin-right: 0 !important;
}
.gbd-support-mid strong {
font-size: 22px;
margin: 15px 0;
}  
.gbd-support-mid p {
margin-bottom: 0;
font-size: 16px;
line-height: 24px;
}
.orange_btn {
padding: 10px 20px !important;
}
.banner-left-text {
padding-top: 20px;
padding-bottom: 20px;
}
.gbd-support-bot.gbd-support-bot-dsk {
display: none;
}
.gbd-support-bot.gbd-support-bot-mob {
display: block;
}
.gbd-support-bot.gbd-support-bot-mob .content {
width: 50%;
}
.gbd-support-bot.gbd-support-bot-mob .list-group {
width: 100%;
margin: 0 auto 30px;
}
.gbd-support-bot .list-group .list-unstyled li {
padding: 5px 20px;
height: 30px;
font-size: 12px;
}
.gbd-support-bot .list-group .title {
padding: 22px !important;
height: 80px;
}
.gbd-support-bot-block.bgwhite {
margin-bottom: 0;
padding-top: 0 !important;
}
.gbd-support-mid-block {
margin-top: 25px;
margin-bottom: 10px;
}
}
@media (min-width: 320px) and (max-width: 465px) { 
.gbd-support-bot .list-group .list-unstyled li {
font-size: 10px;
padding: 5px 10px;
height: 40px;
}
}
/* End Support CSS */
/* Careers Page */
.gbd-careers-page .container-small {
max-width: 980px;
margin-left: auto;
margin-right: auto;
}
.gbd-careers-page h2.sub-title {
font-size: 22px;
font-weight: 400 !important;
line-height: normal;
margin-top: 20px;
margin-bottom: 35px;
color: #272727;
}
.simplePullQuote.full-width {
width: 100% !important;
float: right;
background: top left no-repeat url("https://d1giulg0kzu6r6.cloudfront.net/wp-content/themes/growbydata-website-new/images/quote.png");
text-indent: 10px;
padding: 6px;
margin: 10px 0 10px 10px;
}
.simplePullQuote p {
font-size: 28px !important;
padding-left: 33px !important;
color: #1c7a17 !important;
margin-bottom: 10px !important;
}
.simplePullQuote a.tweeter-ad, .simplePullQuote a.tweeter-ad:visited {
background: 0 0 !important;
float: left !important;
padding-right: 0 !important;
color: #00acee !important;
font-size: 14px !important;
font-weight: 800;
padding-left: 28px;
text-decoration: none;
}
.simplePullQuote a.tweeter-ad:before {
content: '\f099';
font-family: "Font Awesome 5 Brands";
font-size: 16px;
margin-right: 7px;
}
.overview-btn {
padding: 15px 25px;
margin: 40px auto;
}
.gbd-careers-page .career-block blockquote {
border: none;
font-size: 16px;
line-height: 24px;
text-align: center;
box-shadow: 0 0 10px 0 rgba(0,0,0,.23);
padding: 30px 20px;
min-height: 500px;
margin: 40px 0;
}
.gbd-careers-page .career-block blockquote h4 { 
font-size: 18px;
}
.gbd-careers-page .career-block blockquote p {
font-size: 16px;
line-height: 24px;
}
.career-block footer {
background: transparent;
padding: 0;
display: block;
font-size: 80%;
line-height: 1.42857143;
color: #777;
}  
.gbd-careers-page .overview-career .accordion {
display: block;
margin-top: 30px;
} 
.gbd-careers-page .overview-career h2 {
font-size: 33px;
font-weight: 600;
text-align: center;
margin-bottom : 25px;
}
.gbd-careers-page .accordion-toggle {
display: inline-block;
margin: 0;
width: 100%;
vertical-align: middle;
border-top: 1px solid #aaa;
padding: 12px 0;
color: #000 !important;
}
.gbd-careers-title {
float: left;
color: #000;
font-size: 16px;
text-transform: capitalize !important;
line-height: 20px !important;
font-weight: 400;
}
.gbd-careers-toggle {
float: right;
line-height: 0;
font-size: 20px;
}
.gbd-careers-toggle .fa.fa-arrow-circle-down {
color: #2dccd6;
}
.gbd-careers-toggle .fa.fa-arrow-circle-up {
color: #ffa41f;
}
.accordion-toggle.active-tab .gbd-careers-toggle .fa-arrow-circle-down {
display: none;
}
.accordion-toggle.active-tab .gbd-careers-toggle .fa-arrow-circle-up {
display: block;
}
.accordion-toggle.active-tab.collapsed .gbd-careers-toggle .fa-arrow-circle-up {
display: none;
}
.accordion-toggle.active-tab.collapsed .gbd-careers-toggle .fa-arrow-circle-down {
display: block;
}
.gbd-careers-toggle .fa-arrow-circle-up {
display: none;
}
.accordion-group.career-box > div > h3 {
margin-bottom: 0;
}
.career-box ul li {
list-style: disc !important;
font-size:1.2rem;
line-height:2rem;
}
.gbd-careers-page .career-box ul {
margin: 30px 0 30px 30px !important;
}
.gbd-pop-block h3, 
.gbd-pop-block span {
color: #fff;
}
.gbd-pop-block .form-group {
margin-bottom: 9px;
overflow: hidden;
}
.gbd-pop-block input[type="text"] {
color: #555 !important;
font-weight: 400 !important;
font-family: inherit;
font-size: 14px !important;
height: 50px !important;
line-height: 40px !important;
padding: 6px 12px !important;
}
#gbdCareer .modal-body {
position: relative;
padding: 15px;
}
#gbdCareer .form-btm-txt {
color: #99999c;
font-size: 11px;
margin-bottom: 10px;
}
#gbdCareer .modal-footer, 
#gbdCareer .modal-header {
border: 0;
margin: 0 auto;
padding: 0;
}
.gbd-pop-block .modal-content {
background: 0 0;
padding: 16px 36px 15px;
box-shadow: none;
-webkit-box-shadow: none;
border: 0;
-webkit-border-radius: 0;
border-radius: 0;
}
.gbd-pop-block {
margin-top: 13%;
background: #333;
z-index: 999999 !important;
-webkit-box-shadow: 15px 15px 0 0 rgba(0,0,0,.6);
-moz-box-shadow: 15px 15px 0 0 rgba(0,0,0,.6);
box-shadow: 15px 15px 0 0 rgba(0,0,0,.6);
width: 100% !important;
max-width: 390px !important;
}
.gbd-pop-block .close {
display: block;
width: 10px;
height: 10px;
text-indent: -999999px;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}
.gbd-pop-block button span {
color: #333;
}
#gbdCareer .fileUpload.btn.btn-primary {
background: #000;
border-color: #000;
}
#gbdCareer .fileUpload.btn.btn-primary input {
background: #000;
border-color: #000;
padding: 0;
color: #fff;
}
.gbd-careers-page .accordion-inner {
padding: 15px 0;
}
@media (min-width: 768px) and (max-width: 992px) { 
.gbd-careers-page .career-block blockquote {
height: 620px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.gbd-careers-page .career-block blockquote {
height: auto;
margin-bottom: 0 !important;
min-height: initial;
}
.gbd-careers-page p {
text-align: left;
font-size: 15px !important;
padding: 10px;
line-height: 20px;
}
}
/* Ends Careers Page */

/*Search page CSS*/

.search.search-results time.entry-date.published {
font-size: 10px;
color: #888;
}


.search .page-header {
padding: 70px 0;
background: $color_orange;
margin:50px 0;
text-align: center;
}
.search h1.page-title {
color: $brand-color;
font-size: 33px;
font-weight: 600;
text-align: center;
margin: 0;
}
.search article.hentry {
margin-top: 40px;
padding: 0 !important;
box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
-webkit-transition: all .2s linear;
background: #f8f8f8;
}
.search .gbd-featured-blog-img {
width: 300px;
display: inline-block;
vertical-align: top;
min-height: 156px;
}
.search .gbd-header-content-blog {
width: 795px;
display: inline-block;
vertical-align: top;
padding: 12px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.search .gbd-category-title {
text-transform: uppercase;
font-size: 14px;
font-weight: 600;
display: block;
line-height: 18px;
margin-bottom: 7px;
}

.search-results .posted-on {
margin: 0;
display: block;
}
.search.search-results time.entry-date.published {
font-size: 10px;
color: #888;
}
.search.search-results .entry-summary p {
font-size: 13px;
line-height: 20px;
margin-top: 2px;
margin-bottom:0;

}
.gbd-header-content-blog.gbd-noimg {
width: 100%;
}
.search-results nav.navigation.posts-navigation {
margin-top: 50px;
margin-bottom: 0 !important;
}
.search-results .nav-links a {
color: #000;
font-weight: 700;
font-size: 16px;
}
.search-results .nav-links .nav-previous a:before {
content: "\f30a";
padding-right: 10px;
font-family: "Font Awesome 5 Free";
display: inline-block;
vertical-align: middle;
}

.search.search-results .entry-header .entry-title a {
font-size: 16px;
line-height: 20px;
color: $brand-color;
}
.search .gbd-category-title a{
color:$brand-second_color!important;;
}

.search .entry-meta-1 {
font-size: 12PX;
}


.search.search-results time.entry-date.published {
font-size: 10px;
color: #888;
}
.search .entry-summary{
margin-top:0;
}

@media (max-width: 1229px) and (min-width: 1026px){
.search .gbd-header-content-blog {
width: 67%;
}
}
@media (max-width: 1025px) and (min-width: 320px)
{
.search .gbd-featured-blog-img {
width: 300px;
margin: 0 auto;
text-align: center;
display: block;
height: auto;
}
.search .gbd-header-content-blog {
width: 100%;
display: block;
}
}
@media (max-width: 767px) and (min-width: 320px){
.gbd-featured-blog-img {
width: 100%!important;
}
}

/*End of Search page*/

/* menu css */
.contact_btn {
display: none;
}
@media (min-width: 860px) and (max-width: 920px) {  
.contact_btn {
display: inline-block;
margin-top: 5px !important;
}
.contact_btn span {
background: #ffa41f;
font-weight: 700;
color: #252527 !important;
border: 1px solid #ffa41f;
padding: 9px;
font-size: 13px;
}
.header-top-right-btn {
display: none;
}
.contact_btn {
border-bottom: none !important;
}
.contact_btn span:hover {
color: #fff;
}
}
@media (min-width: 780px) and (max-width: 830px) {  
.contact_btn {
display: inline-block;
margin-top: 3px;
}
.contact_btn span {
background: #ffa41f;
font-weight: 700;
color: #252527 !important;
border: 1px solid #ffa41f;
padding: 9px;
font-size: 13px;
}
.header-top-right-btn {
display: none;
}
.contact_btn {
border-bottom: none !important;
}
.contact_btn span:hover {
color: #fff;
}
}

@media (min-width: 320px) and (max-width: 767px) {  
.contact_btn {
display: inline-block;
margin-top: 5px !important;
}
.contact_btn span {
background: #ffa41f;
font-weight: 700;
color: #252527 !important;
border: 1px solid #ffa41f;
padding: 9px;
font-size: 13px;
}
.header-top-right-btn {
display: none;
}
.contact_btn {
border-bottom: none !important;
}
.contact_btn span:hover {
color: #fff;
}
}

/*related post enforce map*/

.post-date {
font-size: 12px;
display: inline-block;
}

/* for btn focus remove */
.btn.focus, .btn:focus {
outline: 0;
box-shadow: none !important;
}


blockquote {
padding: 10px 20px;
margin: 0 0 20px;
font-size: 17.5px;
border-left: 5px solid #eee;
}

@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{ color: #fff;  }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-showing, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen {	
background-color: #fff;
}

/* Commnunity css */
.gbd-community .col-md-offset-2 {
margin-left: 16.66666667%;
}
.gbd-content.gbd-community p{
font: normal 16px "Ubuntu", sans-serif;
color: #272727 !important;
line-height: 24px;
text-align: left;
-webkit-font-smoothing: antialiased;
margin-bottom: 1.5em;
}
.gbd-content.gbd-community h3 {
padding-bottom: 35px;
color: #272727;
font-size: 30px !important;
font-weight: 600 !important;
line-height: 32px;
margin-bottom: 0; 
margin-top: 0;
text-align: center;
}
.gbd-community .entry-content-page .sub-title {
padding-bottom: 35px;
font-size: 30px !important;
font-weight: 600 !important;
line-height: 32px;
margin-bottom: 0;
margin-top: 0;
}
.gbd-community-block.gbd-community-block-1,
.gbd-community-block.gbd-community-block-3 {
background: #eaeaea;
}
.gbd-community-block {
padding: 50px 0 50px 0;
border-top: 1px #e6e6e6 solid;
}
.gbd-community-block .csr-activites li {
width: 40%;
box-shadow: 0 0 10px 0 rgba(0,0,0,.23);
padding: 15px;
margin: 0 auto 12px;
text-align: center;
}
.gbd-community-detail .csr-photo-series img {
width: inherit;
max-width: 100%;
height: inherit;
box-shadow: 1px 2px 4px 0 #ccc;
border: 1px #e6e6e6 solid;
padding: 10px;
}
.gbd-community-detail .csr-photo-series span {
font-weight: 700;
margin-top: 10px;
display: block;
text-align: center;
}
.gbd-community-detail .program-date {
text-align: center;
margin-bottom: 15px;
font-weight: 700;
}
.gbd-community-detail .csr-photo-series li {
list-style: none;
margin-bottom: 30px;
}
.gbd-content.gbd-community  .entry-content-page {
font: normal 16px "Ubuntu", sans-serif;}

.gbd-community-detail .location-district, .gbd-community-detail .efforts-date {
font-weight: bold;
margin-bottom: 10px;
text-align: left;
}
.gbd-community-detail .page-title {
font-size: 33px;
font-weight: 600;
text-align: center;
margin: 0 auto 10px !important;
display: block;
}
.gbd-community-detail {
margin-bottom: 50px;
}
.csr-photo-series li > ul, 
.csr-photo-series li > ol {
margin-left: 0;
}
@media (min-width: 320px) and (max-width: 991px) { 
.gbd-community-block .csr-activites li {
width: 270px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 
.gbd-community .col-md-offset-2 {
margin-left: 0;
}
.gbd-community-detail {
padding-top: 0px;
}
}
/* End Commnunity css */
/* Landing Page CSS */
.gbd-talk-to-expert-top-section {
margin: 40px 0;
}
.gbd-talk-to-expert-top-section h1 {
margin-bottom: 45px;
}
.gbd-talk-to-expert-top-section .gbd-talk-to-expert-rt-content {
padding: 40px 70px 70px 70px;
background: #004d7f url(../../images/marketing-intelligence-guide-bg.png) no-repeat !important;
background-size: cover !important;
}

#gbd-talk-to-expert-hb-form {
width: 80%;
}
.gbd-talk-to-expert-form h2 {
color: #fff;
font-weight: bold;
margin-bottom: 35px;
font-size: 32px;
}
.page-template-template-landing-page #gbd-talk-to-expert-hb-form {
width: 85%;
}
.gbd-talk-to-expert-form .hbspt-form fieldset {
max-width: 100% !important;
}
.gbd-talk-to-expert-form .hs-form-field {
width: 100% !important;
margin-bottom: 35px;
}
.gbd-talk-to-expert-form input[type="text"],
.gbd-talk-to-expert-form input[type="email"]  {
font-weight: 400;
font-size: 14px !important;
width: 100% !important;
margin-right: 0;
color: #5d5d5d;
border: 1px solid #d4d4d4;
border-radius: 0 !important;
height: 60px;
line-height: 1.42857143;
padding: 8px;
}
.gbd-talk-to-expert-rt-content .submitted-message,
.gbd-talk-to-expert-rt-content .submitted-message p,
.talk-to-expert-thankyou-msg {
color: #fff;
font-size: 20px;
text-align: center;
background: #000;
margin-bottom: 0;
padding: 5px;
}
.talk-to-expert-thankyou-msg {
padding: 20px;
margin-bottom: 25px;
line-height: 30px;
font-weight: bold;
background: #233342;
}
.hs-form fieldset.form-columns-1 .input,
.hs-form fieldset.form-columns-2 .input, 
.hs-form fieldset.form-columns-3 .input {
margin-right: 0 !important;
}
.gbd-talk-to-expert-form .hbspt-form .hs-form-field.hs_lastname {
float: right;
}
.gbd-talk-to-expert-form .hs-email {
margin: 0 auto;
}
.gbd-talk-to-expert-lt-content {
padding-right: 50px;
}
.gbd-talk-to-expert-lt-content .right-text-list ul li {
font-size: 21px;
padding-bottom: 15px;
line-height: normal;
}
.gbd-talk-to-expert-lt-content .right-text-list p {
font-size: 21px;
margin-top: 0px;
margin-bottom: 15px;
line-height: normal;
}
.gbd-talk-to-expert-form .hbspt-form .hs-submit input.hs-button.primary.large {
margin: 0px 0 0;
display: block;
padding: 15px 35px;
}
.gbd-talk-to-expert-form .hbspt-form label {
text-transform: uppercase;
font-weight: bold;
}
.gbd-banner-talktoexpert {
margin-top: 20px;
}
.gbd-talk-to-expert-form .hbspt-form label.hs-error-msg,
.gbd-talk-to-expert-form .hbspt-form label.hs-main-font-element {
text-transform: none;
color: red;
}    
.gbd-talk-to-expert-form .hbspt-form label .hs-form-required {
color: #ffa41f;
}
.gbd-ad-banner-left-content h1 {
margin-bottom: 20px;
}
.gbd-ad-banner-left-content .right-text-list p {
font-size: 22px;
margin-bottom: 20px;
}
.gbd-ad-banner-left-content .right-text-list ul li {
padding-bottom: 20px;
}
.gbd-talk-to-expert-lt-content-mob {
display: none;
}
.right-text-list ul li.not-list-style {
margin-left: 0;
text-indent: 0;
}
.right-text-list ul li.not-list-style:before {
display: none;
}
.gbd-talk-to-expert-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label {
margin-top: 35px;
margin-bottom: 0;
}
.gbd-talk-to-expert-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label input {
display: inline-block;
width: 5%;
vertical-align: middle;
}
.gbd-talk-to-expert-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label span {
text-transform: none;
font-weight: bold;
display: inline-block;
vertical-align: middle;
width: 90%;
margin-left: 5px;
}
.right-text-list ul li {
text-indent: -.8em;
margin-left: .8em;
position: relative;
padding-bottom: 10px;
font-size: 22px;
line-height: normal;
}
.right-text-list ul li:before {
content: "•";
color: #ffa21f;
vertical-align: text-bottom;
margin-right: .25em;
font-size: 19px;
}
.gbd-talk-to-expert-lt-content .list-top span strong {
font-size: 48px;
}
.landing-page-banner h1 {
font-size: 2.8em;
color: #fff;
margin-top: 0;
padding-right:90px;
}
.landing-page-banner p {
font-size: 23px;
line-height: 32px;
margin-bottom: 30px;
color: #fff;
padding-right:0px;
}
.landing-page-banner {
background: #252527 url(../../images/background-landing-page.jpg) no-repeat !important;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
background-position: calc(100%) calc(100%) !important;
background-size: cover !important;
}



.landing-page-banner  .banner-rightimg  .img-wrapper {
    align-self: center;
}

.landing-page-banner .banner-left-text {
    padding-top: 30px;
    padding-bottom: 30px;
}
.landing-page-banner .banner-rightimg {
padding:30px 0;
}
.gbd-banner-talktoexpert-mob {
display: none;
}


.landing-page-banner  .orange_btn:hover{
color: #fff;
background: #4a98a0;
border: 1px solid #4a98a0;
}
@media (min-width: 992px) and (max-width: 1120px) { 
.landing-page-banner h1 {
font-size: 2.5em;
padding-right: 100px;
}
}

@media (min-width: 1366px) and (max-width: 1400px) { 
.landing-page-banner h1 {
padding-right: 56px;
}
}
@media (min-width: 768px) and (max-width: 991px) { 
.gbd-talk-to-expert-top-section .gbd-ad-banner-left-content h1 {
margin-bottom: 15px;
font-size: 28px;
}
.gbd-ad-banner-left-content .right-text-list p {
font-size: 16px;
margin-bottom: 15px;
}
.gbd-ad-banner-left-content .right-text-list ul li {
padding-bottom: 15px;
font-size: 16px;
line-height: 20px;
}
.gbd-talk-to-expert-top-section .gbd-talk-to-expert-rt-content {
padding: 80px 40px;
}
.gbd-talk-to-expert-lt-content .list-top span strong {
font-size: 32px;
}
.gbd-talk-to-expert-form h2 {
font-size: 26px;
}
.gbd-talk-to-expert-top-section .gbd-talk-to-expert-rt-content {
padding: 60px 45px 60px 45px;
}
#gbd-talk-to-expert-hb-form {
width: 100%;
}
.landing-page-banner h1 {
padding-right: 50px;
}
}
@media (min-width: 320px) and (max-width: 767px) { 

.landing-page-banner, .landing-page-banner .row{height:auto!important;}
.gbd-ad-banner-right-content {
margin-top: 40px;
}
.gbd-talk-to-expert-top-section .gbd-talk-to-expert-rt-content {
padding: 32px;
}
.gbd-talk-to-expert-top-section .gbd-ad-banner-left-content h1 {
margin-bottom: 15px;
font-size: 28px;
}
.gbd-ad-banner-left-content .right-text-list p {
font-size: 16px;
margin-bottom: 15px;
line-height: 22px;
}
.gbd-ad-banner-left-content .right-text-list ul li {
padding-bottom: 15px;
font-size: 16px;
line-height: 20px;
}
.gbd-talk-to-expert-form {
width: 100%;
}
.gbd-talk-to-expert-lt-content .right-text-list p {
font-size: 18px;;
}
.gbd-talk-to-expert-bot-section .gbd-talk-to-expert-form .hs-form-field {
width: 100% !important;
margin-bottom: 10px;
}
.gbd-talk-to-expert-bot-section .gbd-talk-to-expert-form .hbspt-form .form-columns-1 {
margin-top: 10px !important;
}
.gbd-talk-to-expert-form h2 {
margin-bottom: 20px;
font-size: 22px;
}
.gbd-talk-to-expert-bot-section {
padding: 20px 0;
}
.gbd-talk-to-expert-form input[type="email"], 
.gbd-talk-to-expert-form input[type="text"] {
height: 40px;
width: 100% !important;
}
.gbd-talk-to-expert-form .hbspt-form .hs-submit input.hs-button.primary.large {
margin-top: 0px;
padding: 12px 20px;
font-size: 14px;
}
.gbd-talk-to-expert-lt-content {
padding-right: 0;
}
.gbd-banner-talktoexpert {
margin: 40px 0;
display: none;
}
.gbd-talk-to-expert-top-section h1 {
font-size: 34px;
}
.gbd-talk-to-expert-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label span {
font-size: 12px;
}
.landing-page-banner h1 {
padding-right: 0;
text-align: center;
font-size: 2rem !important;
}
.landing-page-banner p {
font-size: 1.5rem;
text-align: Center;
line-height: 28px;
padding-right: 0px;
}
.gbd-talk-to-expert-lt-content .list-top span strong {
font-size: 32px;
}
.gbd-banner-talktoexpert-mob {
display: block;
margin-top: 40px;
}
.landing-page-banner .banner-rightimg {
padding-top: 30px !important;
padding-bottom: 30px;

}
.landing-page-banner .banner-left-text {
padding-top: 30px;
padding-bottom: 30px;
}
}


@media (min-width: 320px) and (max-width: 991px) { 
.landing-page-banner, .landing-page-banner .row{height:auto!important;}

.gbd-landing-page-banner .landing-page-banner .orange_btn{
	padding:10px 20px!important;
}
}

@media (min-width: 768px) and (max-width: 980px) { 
.landing-page-banner p {
    padding-right: 0;
}
}


@media (min-width: 1600px) and (max-width: 2400px) { 

.landing-page-banner .banner-left-text {
    padding-top: 150px;
    padding-bottom:150px;
}
.landing-page-banner .banner-rightimg {
    padding-top: 150px;
    padding-bottom: 150px;
}

.landing-page-banner p {
    padding-right: 100px;
}

}

/* End Landing Page */


/*Shopper Journey landing page*/

.gbd-landing-page-banner .shopper-journey{
background: #203e44 url(../../images/bg-shopper-journey.png)no-repeat !important;
background-position-x: 0;
    background-position-y: 0;
    background-size: auto;
    background-size: cover!important;
}

.gbd-talk-to-expert-top-section .shopper-journey-rt-content {
    background: #203e44 url(../../images/shopper-landing-form-bg.png)repeat-x!important;
}


.shopper-journey .banner-left-text {
    padding-top: 80px;
    padding-bottom: 80px;
}
.shopper-journey .banner-rightimg {
    padding-top: 80px!important;
    padding-bottom: 80px;
}

.gbd-shopers-journey-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label span {
    font-size: 13px;
    margin-left:0;
}

@media (min-width: 1600px) and (max-width: 2400px)
{
.shopper-journey .banner-left-text {
    padding-top: 150px!important;
    padding-bottom: 150px!important;
}
.shopper-journey .banner-rightimg {
    padding-top: 150px!important;
    padding-bottom: 150px!important;
}
.gbd-shopers-journey-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label span {
    font-size: 16px!important;
}
}
.gbd-shopers-journey-form .hbspt-form label {
    font-size: 14px;
}

@media (min-width: 320px) and (max-width: 767px){
.shopper-journey .banner-left-text {
    padding-top: 30px;
    padding-bottom: 30px;
}
.shopper-journey .banner-rightimg .img-wrapper {
    align-self: center;
    width: 80%;
    margin: 0 auto;
}
.gbd-shopers-journey-form .hbspt-form .hs_please_contact_me_about_complementary_product_detail_page_benmark_analysis label span {
    font-size: 12px;
    padding-top:5px;
}

}
.shopper-journey-rt-content [type="checkbox"]:checked,
.shopper-journey-rt-content [type="checkbox"]:not(:checked), 
.checkbox-orange [type="checkbox"]:checked,
.checkbox-orange [type="checkbox"]:not(:checked)  {
    position: absolute;
    left: -9999px;
}


.shopper-journey-rt-content [type="checkbox"]:checked + span,
.shopper-journey-rt-content [type="checkbox"]:not(:checked) + span,
.checkbox-orange [type="checkbox"]:checked + span,
.checkbox-orange [type="checkbox"]:not(:checked) + span

{
    position: relative;
    cursor: pointer;
	   display: inline-block;
	       padding-left: 32px;

}

.shopper-journey-rt-content [type="checkbox"]:not(:checked) + span:before,
.checkbox-orange [type="checkbox"]:not(:checked) + span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 20px;
    height: 20px;
	background:#ffa01f;
	
}
.shopper-journey-rt-content [type="checkbox"]:checked + span:before,
.checkbox-orange  [type="checkbox"]:checked + span:before{
	 content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 20px;
    height: 20px;
	background:#ffa01f;
}

.shopper-journey-rt-content [type="checkbox"]:not(:checked) + span:after,
.checkbox-orange  [type="checkbox"]:not(:checked) + span:after  {
    content: '';
     width: 20px;
    height: 20px;
		background:#ffa01f;
    position: absolute;
     left: 0;
    top: 7px;
}

.shopper-journey-rt-content [type="checkbox"]:checked + span:after,
.checkbox-orange  [type="checkbox"]:checked + span:after  {
  content: "\2713";
    position: absolute;
       top: 7px;
    left: 4px;
    font-size: 14px;
					
}

.shopper-journey-rt-content [type="checkbox"]:not(:checked) + span:after, 
.shopper-journey-rt-content [type="checkbox"]:checked + span:after 

.checkbox-orange  [type="checkbox"]:not(:checked) + span:after, 
.checkbox-orange [type="checkbox"]:checked + span:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gbd-whitepaper-template .gbd-infographics-info a {
    font-size: 17px;
}
@media (min-width: 768px) and (max-width: 1024px){
.gbd-whitepaper-template .gbd-infographics-info a {
    font-size: 14px;
    height: 32px;
}
}
@media (min-width: 320px) and (max-width: 767px){
.gbd-whitepaper-template .page-title {
    font-size: 28px;
}
}

.hs_firstname.hs-firstname.hs-fieldtype-text.field.hs-form-field {
    margin-bottom: 20px;
}


/*Topics Page*/

.topics-template{
.bgwhite, .background-light{

	p, li{
	font-size:16px!important;
	line-height:22px!important;
	font-weight:normal!important;
	}
.right-text-list ul li{
font-size:16px!important;
	line-height:22px!important;
	font-weight:normal!important;
	
}
img{
	width:80%!important;
	}

}
}
.toics-infographics {
	a{
	font-size:16px;
	font-weight:bold;
	margin-top:0;
	color:$brand-second_color;
	}
}


.our-approch-block .container-small{
	max-width:980px;
	margin:0 auto;

	h2{
	color:$brand-color;
	}
}

.gbd-talk-to-expert-form.topics .hbspt-form .hs_please_contact_me_about_complimentary_product_detail_page_benchmark_analysis label span{
	width:100%;
	padding-top:8px;
}
.topics-banner h1{
	padding-right:0;
}
.topics-banner p  {
    padding-right: 0!important;
}

@media (min-width: 1600px) and (max-width: 2400px)
{
.topics-banner p {
    padding-right: 0!important;
}

}
@media (min-width: 320px) and (max-width: 767px){


.gbd-talk-to-expert-form.topics .hbspt-form .hs_please_contact_me_about_complimentary_product_detail_page_benchmark_analysis label span{
font-size:10px;
}
}

.toics-infographics {
	h6{
	height:50px;
	}
.gbd-infographics-img{
	height:217px;
}

}
@media (min-width: 769px) and (max-width:1220px){

.toics-infographics {
	h6{
	height:80px;
	}

}
}
@media (min-width: 768px) and (max-width: 991px){
.toics-infographics {
.gbd-infographics-img {
    height: 100px;
}
}
}