/*blog Detail page*/
.gbd-blog-article-titles {
  margin-bottom: 30px; }
  .gbd-blog-article-titles h1 {
    margin-bottom: 0;
    font-size: 2rem; }

.archive .navbar-default, .blog .navbar-default, .gbd-blog-article-titles, .single .navbar-default {
  border-bottom: 1px solid #f3f3f3; }

.gbd-categories-dates .gbd-posted-dates {
  line-height: 32px;
  color: #888;
  margin-bottom: 0; }

.gbd-blog-article-v3 .gbd-posted-dates .gbd-reading-time {
  margin-left: 2px;
  color: #252527; }

.gbd-related-articles-block {
  padding: 25px 0 40px;
  background: #f5f8fb; }

.gbd-related-articles-block .gbd-related-blog {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  float: left;
  width: 31.3%;
  margin-right: 3%;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #fff; }

.gbd-related-blog:nth-child(3n+3) {
  margin-right: 0; }

.gbd-related-articles-block .gbd-blog-tags {
  display: block;
  height: 48px; }

.gbd-subscribe-blog-post {
  background: #fff;
  padding: 70px 0 70px;
  text-align: center; }

.gbd-subscribe-blog-post h4 {
  color: #252527;
  margin-top: 0;
  font-size: 30px;
  line-height: 34px; }

.gbd-subscribe-blog-post .hbspt-form {
  width: 500px;
  margin: 0 auto;
  position: relative; }

.gbd-subscribe-blog-post span {
  color: #252527;
  font-size: 26px;
  line-height: 32px;
  display: block; }

.gbd-subscribe-blog-post .hbspt-form .hs_email input {
  color: #272727 !important; }

.gbd-subscribe-blog-post .hbspt-form .hs_email {
  margin: 0 auto;
  position: relative; }

.gbd-subscribe-blog-post .hs-submit input.hs-button.primary.large {
  height: 62px;
  line-height: 62px;
  padding: 0;
  font-size: 24px !important;
  width: 160px;
  text-transform: capitalize;
  margin-left: 5px;
  margin-top: 0px; }

.gbd-subscribe-blog-post .hbspt-form .hs_submit {
  position: absolute;
  right: 0;
  top: 0; }

.gbd-subscribe-blog-post .hbspt-form input {
  color: #272727;
  width: 100%;
  height: 62px;
  line-height: 62px;
  font-size: 22px !important;
  padding: 0 25px; }

.gbd-blog-bot-slider span br, .gbd-blog-slider-btns br, .gbd-blog-slider-learn a br, .gbd-subscribe-blog-post .hs-form-field.hs_email label {
  display: none; }

.gbd-blog-writer, .gbd-tags-post {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px; }

.gbd-blog-writer h4 {
  font-size: 17px;
  line-height: 24px;
  margin: 20px 0 12px;
  display: block;
  color: #4a98a0; }

.gbd-blog-writer h4 span, .gbd-blog-writer p {
  font-style: italic; }

.gbd-blog-forgot-share h4 {
  margin: 30px 10px;
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600; }

.gbd-blog-forgot-share {
  text-align: center;
  margin-bottom: 35px; }

.gbd-addtoany ul li a {
  color: #252527; }

.gbd-addtoany .fab, .gbd-addtoany .fas {
  font-size: 42px; }

.gbd-addtoany .gbd-download .fas,
.gbd-addtoany .gbd-print .fas {
  font-size: 38px; }

.gbd-addtoany li {
  display: inline-block;
  margin: 0 10px 5px;
  vertical-align: top; }

.gbd-blog-article-v3 {
  margin-top: 30px; }

/*Media Query related blog*/
@media only screen and (max-width: 767px) {
  .gbd-blog-article-v3 .gbd-related-blog {
    width: 100%;
    float: none;
    margin: 20px 0 0; }
  .gbd-download-PDF {
    display: none !important; } }

@media (max-width: 991px) and (min-width: 768px) {
  .gbd-related-blog {
    width: 27.9%; } }

/*@media (max-width: 4000px) and (min-width: 1500px)
{

.gbd-featured-blog-img {
height: 260px;
overflow: hidden;
position: relative;
}

}
*/
/* simple Pull quote CSS */
.simplePullQuote.full-width {
  width: 100%; }

.simplePullQuote p {
  font-size: 28px;
  padding-left: 33px;
  color: #1c7a17;
  margin-bottom: 10px; }

.simplePullQuote a.tweeter-ad, .simplePullQuote a.tweeter-ad:visited {
  float: left;
  padding-right: 0;
  color: #00acee;
  font-size: 14px;
  font-weight: 800;
  padding-left: 28px;
  text-decoration: none; }

.simplePullQuote a.tweeter-ad:before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 16px;
  margin-right: 7px; }

.simplePullQuote {
  width: 450px;
  float: right;
  background: url("./../../images/quote.png") top left no-repeat;
  text-indent: 10px;
  padding: 6px;
  margin: 10px 0 10px 10px; }

.simplePullQuote.left {
  float: left;
  margin: 10px 10px 10px 0; }

.gbd-abstract-load p {
  font-size: 24px;
  line-height: 35px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 40px; }

.gbd-blog-container .entry-content span.drop-cap {
  color: #0c528a;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 700; }

.gbd-blog-article .gbd-download-PDF {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #0c528a;
  padding: 10px 0;
  top: 106px;
  border-bottom: 1px solid #08497d;
  text-align: center; }

.gbd-blog-article .gbd-download-PDF span {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  display: inline-block; }

#gbd-download {
  display: inline-block;
  font-size: 16px;
  line-height: 28px;
  background: #26aeba;
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px; }

@media only screen and (max-width: 600px) {
  #gbd-single-cyber-monday {
    width: 100% !important; }
  .simplePullQuote p {
    font-size: 20px;
    line-height: 32px; }
  .simplePullQuote {
    width: auto;
    float: none;
    display: block;
    margin-bottom: 30px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .gbd-download-PDF {
    display: none !important; } }

.hs_firstname.hs-firstname.hs-fieldtype-text.field.hs-form-field {
  margin-bottom: 20px; }

/* END blog Detail  page*/
/*Breadcrumb*/
.gbd-breadcrumbs {
  margin: 10px 0; }

.gbd-breadcrumbs #breadcrumbs span {
  font-size: 13px;
  text-transform: capitalize; }

.gbd-breadcrumbs #breadcrumbs a {
  color: #0c528a; }

.gbd-breadcrumbs #breadcrumbs span .blog-home:before {
  position: absolute;
  content: "\f015";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-top: 1px; }

.blog-home {
  position: relative;
  width: 15px;
  display: inline-block;
  vertical-align: top; }

.blog-home span {
  display: none; }

/*Breadcrumb*/
.gbd-blog-article .entry-content img {
  width: auto;
  max-width: 100%;
  height: 100%;
  border: 1px #e6e6e6 solid;
  padding: 2px; }

.hs_error_rollup label {
  color: red !important; }

/*Talk to expert banner*/
.gbd-blog-talkto-expert {
  background: #00a0bb url(../../images/searchintel-bottom-background.png) repeat !important;
  background-size: contain !important; }
