/*Leadership page */
.gbd-leadership-page .container-small {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }

.gbd-team:first-child {
  margin: 16px;
  float: left; }

.team-block {
  padding: 10px 10px 62px 10px !important;
  overflow: hidden;
  max-width: 443px;
  position: relative; }

.gbd-team {
  border: 1px #e6e6e6 solid;
  max-width: 443px;
  margin: 16px;
  -webkit-box-shadow: 1px 2px 4px 0 #ccc;
  -moz-box-shadow: 1px 2px 4px 0 #ccc;
  box-shadow: 1px 2px 4px 0 #ccc;
  padding: 0;
  float: left; }

.team-info {
  position: absolute;
  right: 0;
  top: 84%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease;
  padding: 24px 26px; }

.gbd-team-content {
  max-height: 420px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  margin-bottom: 0 !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -ms-transition: all .5s ease; }

.gbd-leadership-page p {
  font-size: 16px !important;
  line-height: 24px; }

.team-img {
  text-align: center;
  width: 100%;
  margin-bottom: 24px; }

.gbd-team label {
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  color: #252527; }

.gbd-team:hover .team-info {
  top: 0; }

.gbd-team:hover label {
  padding: 20px 0 0 20px; }

.gbd-team:hover span {
  padding-left: 20px; }

@media (max-width: 767px) and (min-width: 320px) {
  .gbd-team:first-child {
    clear: both;
    margin: 16px auto;
    float: none; }
  .gbd-team span {
    font-size: 13px; }
  .gbd-team {
    clear: both;
    margin: 16px auto;
    float: none; }
  .team-info {
    top: 84%;
    padding-top: 13px; }
  .gbd-team-content {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px; }
  .gbd-team-content p {
    padding: 0 !important;
    text-align: left !important; } }

@media (max-width: 1024px) and (min-width: 768px) {
  .gbd-team span {
    font-size: 14px; }
  .gbd-team {
    width: 45.5%;
    margin: 16px; } }

@media (min-width: 320px) and (max-width: 479px) {
  .gbd-content p {
    text-align: center;
    font-size: 15px !important;
    padding: 10px;
    line-height: 20px; } }

@media (min-width: 760px) and (max-width: 1007px) {
  .team-info {
    top: 81%; } }

@media (max-width: 812px) and (min-width: 320px) {
  .gbd-team-content {
    max-height: 337px;
    overflow-y: auto;
    margin-top: 10px; } }
